.hello{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 90vh; */
    padding: 100px;
}
.home-container{
    height: 100vh;
    background-color: #1f1f22;
    color: aliceblue;
}
.btnc-btnme-3{
    margin: 10px;
}

.lol{
    display: flex;
    justify-content: center;
    align-items: center;
}