.hello{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.btnc-btnme-3{
    margin: 10px;
}

.toggle-link {
    color: white;
    cursor: pointer; /* Add a pointer cursor to indicate it's clickable */
    text-decoration: underline; /* Optionally add an underline for better visibility */
}

/* Style the tooltip content */
.tooltip-content {
    background-color: #1d1d1d;
    color: white;
}

